<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922799858827-6ajlhuh8fu92h1c6em0bmbk3fb4ne0rf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922799858827-6ajlhuh8fu92h1c6em0bmbk3fb4ne0rf</string>
	<key>API_KEY</key>
	<string>AIzaSyBzd5iwi_6a8BfnACOSNLIEPM8BqIRPuJw</string>
	<key>GCM_SENDER_ID</key>
	<string>922799858827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lk.owlda.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-winterrox-projec-b01cf</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-winterrox-projec-b01cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922799858827:ios:116fe0c1248a413570a08e</string>
</dict>
</plist>